
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.event.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.event.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.event.created" is-open="vm.datePickerOpenStatus.created"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.created.$invalid">
                <p class="help-block"
                    ng-show="editForm.created.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.created.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notificationType">Notification Type</label>
            <select class="form-control" name="notificationType" ng-model="vm.event.notificationType" id="field_notificationType" required>
                <option value="STANDARD">STANDARD</option>
            </select>
            <div ng-show="editForm.notificationType.$invalid">
                <p class="help-block"
                    ng-show="editForm.notificationType.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_payload">Payload</label>
            <input type="text" class="form-control" name="payload" id="field_payload"
                    ng-model="vm.event.payload"
                    required ng-minlength="1" />
            <div ng-show="editForm.payload.$invalid">
                <p class="help-block"
                    ng-show="editForm.payload.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.payload.$error.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
