
<div>
    <h2><span>Event</span> {{vm.event.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Created</span></dt>
        <dd>
            <span>{{vm.event.created | date:'medium'}}</span>
        </dd>
        <dt><span>Notification Type</span></dt>
        <dd>
            <span>{{vm.event.notificationType}}</span>
        </dd>
        <dt><span>Payload</span></dt>
        <dd>
            <span>{{vm.event.payload}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="event-detail.edit({id:vm.event.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
