
<div>
    <h2><span>Notification</span> {{vm.notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Json</span></dt>
        <dd>
            <span>{{vm.notification.json}}</span>
        </dd>
        <dt><span>Event</span></dt>
        <dd>
            <a ui-sref="event-detail({id:vm.notification.event.id})">{{vm.notification.event.json}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="notification-detail.edit({id:vm.notification.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
