
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNotificationLabel">Create or edit a Notification</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.notification.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.notification.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_json">Json</label>
            <input type="text" class="form-control" name="json" id="field_json"
                    ng-model="vm.notification.json"
                    required ng-minlength="1" />
            <div ng-show="editForm.json.$invalid">
                <p class="help-block"
                    ng-show="editForm.json.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.json.$error.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_event">Event</label>
            <select class="form-control" id="field_event" name="event" ng-model="vm.notification.event" ng-options="event as event.json for event in vm.events track by event.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.event.$invalid">
            <p class="help-block"
                ng-show="editForm.event.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
