<div ng-cloak ng-controller="OnlineController as vm">
	<div class="row">
		<form novalidate>
			<div class="form-group">
				<label for="ccNumber">CC number</label> <input class="form-control" type="text" ng-model="vm.pay.ccNumber" data-encrypted-name="number"
					value="4111111111111111" />
			</div>
			<div class="form-group">
				<label for="nameOnCard">Name on Card</label><input type="text" class="form-control" ng-model="vm.pay.nameOnCard" data-encrypted-name="holderName"
					value="John Smith" />
			</div>
			<div class="form-group">
				<label for="expireMonth">Expire Month</label><input type="text" class="form-control" ng-model="vm.pay.expireMonth" data-encrypted-name="expiryMonth" value="08" />
			</div>
			<div class="form-group">
				<label for="expireYear">Expire Year</label><input type="text" class="form-control" ng-model="vm.pay.expireYear" data-encrypted-name="expiryYear" value="2018" />
			</div>
			<div class="form-group">
				<label for="ccNumber">CVC</label><input type="text" class="form-control" ng-model="vm.pay.cvc" data-encrypted-name="cvc" value="737" />
			</div>
			<div class="form-group">
				<label for="amount">Amount</label><input type="text" class="form-control" ng-model="vm.pay.amount" value="100" name="amount" />
			</div>
			<input type="hidden" value="generate-this-server-side" data-encrypted-name="generationtime" id="adyen-encrypted-form-expiry-generationtime" ng-model="vm.pay.generationTime"/> <input
				type="hidden" name="encryptedAdyenData" id="encryptedAdyenData" ng-model="vm.pay.encryptedAdyenData"/>
			<button type="submit" class="btn btn-default" ng-click="vm.submitPayment(vm.pay)" ng-disabled="vm.paymentInProgress">{{vm.paymentInProgress==false? 'Submit' : 'In Progress'}}</button>
	        <button class="btn" ng-click="vm.resetPayment()" ng-disabled="vm.paymentInProgress">Reset defaults</button>	
    </form>
	</div>
	<div class="row" ng-hide="vm.paymentResponse==null">
	   <pre>{{vm.paymentResponse|json}}</pre>
	</div>
</div>
