<div ng-cloak ng-controller="TerminalController as vm">
	<div class="row">
		<form novalidate>
			<div class="form-group">
				<label for="amount">Amount</label><input type="text" class="form-control" ng-model="vm.pay.amount" name="amount" /> 
				<label for="currency">Currency</label><input type="text" class="form-control" ng-model="vm.pay.currency" name="currency" />
                <label for="merchantReference">Merchant Reference</label><input type="text" class="form-control" ng-model="vm.pay.merchantReference" name="merchantReference" />
			    <label for="pedId">PED Name</label><input type="text" class="form-control" ng-model="vm.pay.pedId" name="pedId" />
			     
			</div>
			<button type="submit" class="btn btn-default" ng-click="vm.createTender(vm.pay)" ng-disabled="vm.tenderInProgress">{{ vm.tenderInProgress!=true? 'Submit': 'In Progress' }}</button>
		</form>
		<div><pre ng-repeat="mesg in vm.callbackMessages track by $index">{{mesg}}</pre>
		</div>
	</div>

</div>
